@font-face {
    font-family: 'Fjalla One';
    src: url('../fonts/FjallaOne-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/KaushanScript-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Malgun Gothic';
    src: url('../fonts/MalgunGothic-Semilight.woff2') format('woff2');
    font-weight: 350;
}
@font-face {
    font-family: 'Dahlia Condensed';
    src: url('../fonts/Dahlia-MediumCondensed.woff2') format('woff2');
    font-weight: 500;
}