@charset "UTF-8";

.sc-visual{
    height: 100vh;

    img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        
        @include tablet{
            object-position: right;
        }
        @include mobile{
            height: 65vh;
        }
    }
}
.sc-poster{
    padding-top: 200px;

    @include mobile{
        padding: 0;
    }
    .headline{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center;
        font-size: 75px;
        letter-spacing: -1.5px;
        text-transform: uppercase;
        font-family: 'Kaushan Script', serif;

        @include mobile{
            font-size: 8.7vw;
        }
        .desc{
            width: 100%;
        }
        .name{
            em{
                color: #af0303;
            }
        }
    }
    .link-go{
        display: none;

        @include mobile{
            display: block;
            font-family: 'Malgun Gothic', sans-serif;
            margin-top: 50px;
            margin-bottom: 100px;
        }
    }
    .img-box{
        position: relative;
        width: 672px;
        margin: 0 auto;

        @include tablet{
            width: 80%;
        }
        img{
            width: 100%;
            box-shadow: 25px 16px 50px 0 rgba(0,0,0,.1);
        }
        .link-play{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            width: 144px;
            height: 144px;
            font-size: 24px;
            text-align: center;
            z-index: 1;

            @include mobile{
                width: 100px;
                height: 100px;
                font-size: 19px;
            }
            .blur{
                position: absolute;
                top: 0;
                left: 0;
                filter: blur(15px);
                background: #a9170a;
                width: 144px;
                height: 144px;
                border-radius: 100px;
                z-index: -1;

                @include mobile{
                    width: 100px;
                    height: 100px;
                }
            }
            &:hover .blur{
                background: #fe2a2a;

                @include mobile{
                    background: #a9170a;
                }
            }
        }
    }
}
.sc-intro{
    .text-box{
        padding-top: 300px;
        padding-bottom: 250px;
        
        @include tablet{
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .desc{
            font-size: 31px;

            @include desktop{
                font-size: 26px;
            }
            @include tablet{
                font-size: 24px;
            }
            @include mobile{
                font-size: 19px;
            }
        }
    }
}
.sc-scene{
    position: relative;
    padding-top: 200px;
    padding-bottom: 50vh;

    @include tablet{
        padding-bottom: 70vh;
    }
    @include mobile{
        padding-top: 100px;
    }
    .s-grid{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        grid-gap: 5vw 3vw;

        @include tablet{
            grid-gap: 0 6vw;
        }
    }
    .img-box{
        overflow: hidden;
        width: 100%;
        background: #f00;

        &.sc-1{
            width: 30vw;
            height: 30vw;
        
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            align-self: center;
        }
        &.sc-2{
            width: 50vw;
            height: 50vw;
        
            grid-column: 2 / 4;
            grid-row: 1 / 2;
            justify-self: center;
            align-self: center;

            @include tablet{
                width: auto;
            }
        }
        &.sc-3{
            width: 35vw;
            height: 22vw;
        
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            justify-self: center;
            align-self: end;
            z-index: 1;
        }
        &.sc-4{
            position: relative;
            right: -85px;
            height: 26vw;
            width: 50vw;
            z-index: 1;
        
            justify-self: end;
            align-self: center;
            grid-row: 2 / 4;
            grid-column: 2 / 4;

            @include tablet{
                right: -8vw;
            }
        }
        &.sc-5{
            position: relative;
            left: 48px;
            height: 45vw;
            width: 38vw;
        
            justify-self: start;
            align-self: center;
            grid-column: 1 / 3;
            grid-row: 3 / 6;

            @include tablet{
                left: 0;
            }
        }
        &.sc-6{
            position: relative;
            left: 48px;
            height: 16vw;
            width: 24vw;
        
            justify-self: end;
            align-self: center;
            grid-column: 2 / 4;
            grid-row: 4 / 5;

            @include tablet{
                left: 0;
            }
        }
        &.sc-7{
            position: relative;
            height: 26vw;
            width: 33vw;
        
            justify-self: center;
            align-self: end;
            grid-column: 2 / 4;
            grid-row: 4 / 7;
            z-index: 1;

            @include tablet{
                top: 12vw;
                left: 8vw;
            }
        }
    }
}
.trans-wrap{
    position: relative;
    height: 50vh;
    margin-top: -50vh;
    z-index: 1;
    
    @include mobile{
        height: 45vh;
        margin-top: -45vh;
    }
    .trans-box{
        display: flex;
        height: 50vh;
        align-items: flex-end;

        @include mobile{
            height: 45vh;
        }
        .trans{
            flex: 1;
            height:0;
            background: #980303;
        }
    }
}
.sc-plot{
    &.common-inner{
        padding-top: 300px;
        padding-bottom: 200px;
        background: #980303;
        color: #000;
        box-shadow: inset 0 -10px 10px -5px #000;

        @include mobile{
            padding: 0 7vw 170px;
        }
    }
    .plot-box{
        position: relative;
        padding-left: 90px;
        font-size: 31px;

        @include desktop{
            font-size: 26px;
        }
        @include tablet{
            padding: 0;
            font-size: 24px;
        }
        @include mobile{
            font-size: 19px;
        }
        svg{
            position: absolute;
            left: 0;
            top: 12px;
            right: auto;
            bottom: auto;
            width: 48px;
            height: 42px;
            z-index: 10;

            @include tablet{
                top: -45px;
                width: 36px;
                height: 32px;
            }
            @include mobile{
                top: -40px;
                width: 32px;
                height: 28px;
            }
        }
    }
}
.sc-highlight{
    height: 600vh;
    padding-right: 0;
    padding-left: 0;
    font-family: 'Dahlia Condensed', serif;

    .h-sticky{
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        height: 100vh;
        overflow: hidden;

        .headline{
            position: relative;
            font-size: 15vw;
            white-space: nowrap;
            z-index: 1;

            @include tablet{
                font-size: 17vw;
            }
            @include mobile{
                font-size: 19vw;
            }
        }
        img{
            position: absolute;
            left: 0;
            top: auto;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .h-overlay{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #da0000;
            mix-blend-mode: multiply;

            @include mobile{
                display: none;
            }
        }
    }
}
.sc-who{
    position: relative;
    .img-box{
        position: relative;
        overflow: hidden;
        height: 159vh;

        @include mobile{
            height: 100vh;
        }
        img{
            position: absolute;
            top: -9%;
            left: 0;
            width: 100%;
            height: 140%;
            object-fit: cover;

            @include mobile{
                height: 140%;
            }
        }
    }
    .text-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        left: 82px;
        top: auto;
        right: 0;
        bottom: 10%;
        font-size: 31px;
        
        @include desktop{
            font-size: 26px;
        }
        @include tablet{
            font-size: 24px;
        }
        @include mobile{
            font-size: 19px;
            left: 60px;
        }
    }
}
.sc-awards{
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #000;

    @include tablet{
        padding-top: 100px;
        padding-bottom: 0;
    }
    .headline{
        margin-top: 0;
        margin-bottom: 96px;
        font-family: 'Fjalla One', serif;
        font-size: 160px;

        @include desktop{
            font-size: 135px;
        }
        @include tablet{
            font-size: 85px;
        }
        @include mobile{
            font-size: 11.5vw;
            margin-bottom: 40px;
        }
    }
    .a-grid{
        display: grid;
        grid-template-columns: 33vw 1fr;
        grid-auto-columns: 1fr;
        grid-gap: 96px;

        @include desktop{
            grid-column-gap: 50px;
        }
        @include tablet{
            grid-template-columns: 1fr;
            grid-gap: 24px / 48px;
        }
        .text-box{
            grid-column: span 1;
            grid-row: span 1;
            justify-self: center;
            align-self: start;
        
            width: 830px;
        
            font-size: 31px;

            @include desktop{
                font-size: 26px;
            }
            @include tablet{
                font-size: 24px;
                justify-self: start;
                width: auto;
            }
            @include mobile{
                font-size: 19px;
            }
        }
        .img-box{
            overflow: hidden;
            width: 100%;
            height: 40vw;
            &.a-1{
                grid-column: 1 / 2;
                grid-row: 1 / 3;
                
                @include desktop{
                    margin-left: -30px;
                }
                @include tablet{
                    height: 80vw;
                    margin: 0;
                }
            }
            &.a-2{
                justify-self: start;
                align-self: start;
                grid-column: span 1;
                grid-row: span 2;
            
                width: 46vw;
                height: 50vw;
                margin-left: -140px;
                z-index: 1;

                @include desktop{
                    margin: 0;
                }
                @include tablet{
                    grid-column-start: 1;
                    grid-row: 4 / 6;
                }
            }
            &.a-3{
                justify-self: start;
                width: 24vw;
                height: 30vw;

                @include tablet{
                    grid-column-start: 1;
                    grid-row: 5 / 7;
                    justify-self: end;
                    width: 40vw;
                    height: 42vw;
                    z-index: 1;
                }
            }
        }
    }
}
.sc-cast{
    padding-top: 200px;
    padding-bottom: 200px;
    
    @include tablet{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .headline{
        margin-bottom: 144px;
        font-family: 'Fjalla One', serif;
        font-size: 160px;
        text-align: center;
        color: #af0303;

        @include desktop{
            font-size: 135px;
        }
        @include tablet{
            font-size: 85px;
            margin-bottom: 40px;
        }
        @include mobile{
            font-size: 11.5vw;
        }
    }
    .cast-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: 1fr;
        grid-gap: 144px;
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 200px;
        
        @include desktop{
            grid-column-gap: 80px;
        }
        @include tablet{
            grid-column-gap: 55px;
        }
        @include mobile{
            grid-template-columns: 1fr;
            margin-bottom: 96px;
            grid-row-gap: 48px;
            width: auto;
        }
        .cast-wrap{
            display: flex;
            flex-direction: column;
            grid-row-gap: 16px;
            .img-box{
                overflow: hidden;
                height: 630px;

                @include tablet{
                    height: 45vw;
                }
                @include mobile{
                    height: 80vw;
                }
            }
            .cast-box{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
            }
            &.c-1{
                grid-column: span 1;
                grid-row: span 1;
                align-self: center;
            }
            &.c-2{
                grid-column: span 1;
                grid-row: span 2;
                align-self: center;
            }
            &.c-3{
                grid-column: span 1;
                grid-row: span 2;
                align-self: center;
            }
            &.c-4{
                grid-column: span 1;
                grid-row: span 2;
                align-self: center;
            }
            &.c-5{
                grid-column: span 1;
                grid-row: span 2;
                align-self: center;
            }
            &.c-6{
                grid-column: span 1;
                grid-row: span 2;
                align-self: center;
            }
            &.c-7{
                grid-column: span 1;
                grid-row: span 2;
                align-self: center;
            }
        }
    }
    .cast-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 800px;
        margin: 0 auto;
        grid-row-gap: 56px;

        @include tablet{
            width: auto;
            grid-row-gap: 24px;
        }
        .title{
            color: #f14c00;
            font-size: 40px;

            @include tablet{
                font-size: 50px;
            }
            @include mobile{
                font-size: 6vw;
            }
        }
        .cast-wrap{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            grid-gap: 32px 16px;
            flex-wrap: wrap;
            
            @include tablet{
                flex-direction: column;
                align-items: center;
                grid-row-gap: 12px;
            }
            .cast-box{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                grid-column-gap: 16px;
                
                .cast-name{
                    @include mobile{
                        font-size: 30px;
                    }
                }
                .cast-role{
                    margin-top: 0;
                    margin-bottom: 11px;

                    @include mobile{
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}
.sc-info{
    padding-top: 200px;
    padding-bottom: 200px;

    @include tablet{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .info-area1{
        .title{
            font-family: 'Fjalla One', serif;
            font-size: 100px;
            
            @include tablet{
                font-size: 85px;
            }
            @include mobile{
                font-size: 11.5vw;
            }
        }
        p{
            &.desc{
                font-size: 20px;
                text-transform: uppercase;

                @include mobile{
                    font-size: 16px;
                }
            }
        }
    }
    .info-grid{
        display: grid;
        margin-top: 48px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: 1fr;

        @include desktop{
            grid-template-columns: 1fr auto;
        }
        @include tablet{
            display: flex;
            flex-direction: column;
            margin-top: 24px;
        }
        .img-box{
            grid-column: span 1;
            grid-row: span 1;

            overflow: hidden;
            width: 100%;
            height: 40vw;

            @include tablet{
                height: 80vw;
            }
        }
        .info-area2{
            grid-column: span 1;
            grid-row: span 1;
            justify-self: center;
        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 90px;

            @include desktop{
                padding: 0 70px;
            }
            @include tablet{
                padding: 50px 0 50px;
                grid-gap: 18px;
            }
            @include mobile{
                grid-gap: 15px;
            }
            .info-box{
                display: flex;
                flex-direction: column;
                .desc{
                    font-size: 20px;
                    text-transform: uppercase;

                    @include mobile{
                        font-size: 16px;
                    }
                }
                strong.desc{
                    font-family: 'Fjalla One', serif;
                    font-weight: 600;
                    font-size: 55px;

                    @include tablet{
                        font-size: 60px;
                        font-weight: 400;
                    }
                    @include mobile{
                        font-size: 6.8vw;
                    }
                }
            }
        }
    }
}
.sc-collage{
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100vh;
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
    align-items: center;

    .headline{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vh;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 20px;
        padding-bottom: 15vh;
        padding-left: 20px;
        font-family: 'Kaushan Script', serif;
        z-index: 1;

        .left{
            @include tablet{
                display: flex;
                justify-content: center;
            }
        }
        .right{
            display: flex;
            justify-content: flex-end;
            
            @include tablet{
                justify-content: center;
                position: absolute;
                top: -6vh;
                left: 0;
            }
            @include mobile{
                top: -4vh;
            }
        }
        .desc{
            position: relative;
            font-size: 20vh;
            opacity: 0;

            @include tablet{
                font-size: 16.5vh;
            }
            @include mobile{
                font-size: 15vw;
            }
        }
    }
    .col-grid{
        position: absolute;
        display: grid;
        top: -33vh;
        width: 320vh;
        height: 100%;
        grid-auto-columns: 1fr;
        grid-gap: 3vh;
        grid-template-columns: repeat(6, 1fr);

        .img-box{
            overflow: hidden;
            width: 100%;
            height: 55vh;

            &.col-1{
                grid-column: 2 / 4;
                grid-row: 1 / 2;
            }
            &.col-2{
                grid-column: 4 / 6;
                grid-row: 1 / 2;
            }
            &.col-3{
                grid-column: span 2;
                grid-row: span 1;
            }
            &.col-4{
                grid-column: span 2;
                grid-row: span 1;
            }
            &.col-5{
                grid-column: span 2;
                grid-row: span 1;
            }
            &.col-6{
                grid-column: 2 / 4;
                grid-row: 3 / 4;
            }
            &.col-7{
                grid-column: span 2;
                grid-row: span 1;
            }
        }
    }
    .link-go{
        position: absolute;
        bottom: 39%;
        left: 31%;
        z-index: 1;  
        
        @include desktop{
            left: 28%;
            bottom: 37%;
        }
        @include tablet{
            left: 22%;
        }
        @include tablet{
            left: 50%;
            bottom: 30%;
            transform: translateX(-50%);
        }
    }
}