.header{
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    color: #fff7f2;
    padding: 20px 44px 0;
    z-index: 15;
    transition: color .5s;

    @include tablet{
        padding-left: 20px;
        padding-right: 20px;
    }
    &.on{
        color: #000;
        .link-go{
            border: 1px solid #000;
        }
    }
    .logo{
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        font-family: 'Fjalla One', serif;
        font-size: 57px;
        pointer-events: none;

        @include mobile{
            font-size: 8.2vw;
            top: 30px;
        }
    }
    .util-area{
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 35px;
        text-transform: uppercase;

        @include tablet{
            column-gap: 20px;
        }
        @include mobile{
            display: none;
        }
        span{
            font-size: 15px;
        }
    }
}