@charset "UTF-8";
/*반응형 화면 크기*/
@font-face {
  font-family: "Fjalla One";
  src: url("../fonts/FjallaOne-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/KaushanScript-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Malgun Gothic";
  src: url("../fonts/MalgunGothic-Semilight.woff2") format("woff2");
  font-weight: 350;
}
@font-face {
  font-family: "Dahlia Condensed";
  src: url("../fonts/Dahlia-MediumCondensed.woff2") format("woff2");
  font-weight: 500;
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

html, body {
  height: 100%;
}

ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100vw;
  font-family: "Malgun Gothic", sans-serif;
  font-weight: 350;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  overflow: overlay;
  overflow-x: hidden;
  background: #000;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

/*scrollbar*/
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

/*track*/
::-webkit-scrollbar-track {
  background: transparent;
  position: fixed;
  margin-right: 10px;
}

/*thumb*/
::-webkit-scrollbar-thumb {
  position: fixed;
  border-width: 10px;
  border-style: solid;
  right: 10px;
  border-radius: 100px;
  color: #fff7f2;
}

::-moz-selection {
  background: #cf0303;
  color: #fff;
}

::selection {
  background: #cf0303;
  color: #fff;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.common-inner {
  padding: 0 82px;
}
@media (max-width: 1024px) {
  .common-inner {
    padding: 0 70px;
  }
}
@media (max-width: 767px) {
  .common-inner {
    padding: 0 60px;
  }
}

[data-scroll=up] {
  overflow: hidden;
}

[data-scroll=up] span {
  display: block;
}

.cast-name {
  font-family: "Fjalla One", serif;
  font-size: 40px;
}
@media (max-width: 767px) {
  .cast-name {
    font-size: 30px;
  }
}

.cast-role {
  margin-top: 16px;
  font-size: 16px;
  text-transform: uppercase;
}

.parallax {
  width: 100%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}
.parallax-reverse {
  position: relative;
  bottom: 20%;
  width: 100%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}

.link-go {
  display: block;
  position: relative;
  font-size: 15px;
  padding: 12px 24px;
  border: 1px solid #fff;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .link-go {
    font-size: 14px;
    padding: 8px 20px;
  }
}
.link-go:hover {
  color: #000;
}
@media (max-width: 767px) {
  .link-go:hover {
    color: #fff7f2;
  }
}
.link-go:hover .link-go-bg {
  height: 100%;
}
@media (max-width: 767px) {
  .link-go:hover .link-go-bg {
    height: 0;
  }
}
.link-go .link-go-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  z-index: -1;
  background: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .link-go .link-go-bg {
    opacity: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff7f2;
  padding: 20px 44px 0;
  z-index: 15;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
@media (max-width: 1024px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header.on {
  color: #000;
}
.header.on .link-go {
  border: 1px solid #000;
}
.header .logo {
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Fjalla One", serif;
  font-size: 57px;
  pointer-events: none;
}
@media (max-width: 767px) {
  .header .logo {
    font-size: 8.2vw;
    top: 30px;
  }
}
.header .util-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .header .util-area {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .header .util-area {
    display: none;
  }
}
.header .util-area span {
  font-size: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 44px;
  width: 100%;
  height: 140px;
  color: #fff;
}
.footer .logo {
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Fjalla One", serif;
  font-size: 57px;
}
@media (max-width: 767px) {
  .footer .logo {
    font-size: 8.2vw;
  }
}
.footer .msg {
  font-size: 15px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer .msg {
    display: none;
  }
}

.sc-visual {
  height: 100vh;
}
.sc-visual img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .sc-visual img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 767px) {
  .sc-visual img {
    height: 65vh;
  }
}

.sc-poster {
  padding-top: 200px;
}
@media (max-width: 767px) {
  .sc-poster {
    padding: 0;
  }
}
.sc-poster .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
  font-size: 75px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  font-family: "Kaushan Script", serif;
}
@media (max-width: 767px) {
  .sc-poster .headline {
    font-size: 8.7vw;
  }
}
.sc-poster .headline .desc {
  width: 100%;
}
.sc-poster .headline .name em {
  color: #af0303;
}
.sc-poster .link-go {
  display: none;
}
@media (max-width: 767px) {
  .sc-poster .link-go {
    display: block;
    font-family: "Malgun Gothic", sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
.sc-poster .img-box {
  position: relative;
  width: 672px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .sc-poster .img-box {
    width: 80%;
  }
}
.sc-poster .img-box img {
  width: 100%;
  -webkit-box-shadow: 25px 16px 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 25px 16px 50px 0 rgba(0, 0, 0, 0.1);
}
.sc-poster .img-box .link-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 144px;
  height: 144px;
  font-size: 24px;
  text-align: center;
  z-index: 1;
}
@media (max-width: 767px) {
  .sc-poster .img-box .link-play {
    width: 100px;
    height: 100px;
    font-size: 19px;
  }
}
.sc-poster .img-box .link-play .blur {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  background: #a9170a;
  width: 144px;
  height: 144px;
  border-radius: 100px;
  z-index: -1;
}
@media (max-width: 767px) {
  .sc-poster .img-box .link-play .blur {
    width: 100px;
    height: 100px;
  }
}
.sc-poster .img-box .link-play:hover .blur {
  background: #fe2a2a;
}
@media (max-width: 767px) {
  .sc-poster .img-box .link-play:hover .blur {
    background: #a9170a;
  }
}

.sc-intro .text-box {
  padding-top: 300px;
  padding-bottom: 250px;
}
@media (max-width: 1024px) {
  .sc-intro .text-box {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.sc-intro .text-box .desc {
  font-size: 31px;
}
@media (max-width: 1280px) {
  .sc-intro .text-box .desc {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .sc-intro .text-box .desc {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .sc-intro .text-box .desc {
    font-size: 19px;
  }
}

.sc-scene {
  position: relative;
  padding-top: 200px;
  padding-bottom: 50vh;
}
@media (max-width: 1024px) {
  .sc-scene {
    padding-bottom: 70vh;
  }
}
@media (max-width: 767px) {
  .sc-scene {
    padding-top: 100px;
  }
}
.sc-scene .s-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  grid-gap: 5vw 3vw;
}
@media (max-width: 1024px) {
  .sc-scene .s-grid {
    grid-gap: 0 6vw;
  }
}
.sc-scene .img-box {
  overflow: hidden;
  width: 100%;
}
.sc-scene .img-box.sc-1 {
  width: 30vw;
  height: 30vw;
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
}
.sc-scene .img-box.sc-2 {
  width: 50vw;
  height: 50vw;
  grid-column: 2/4;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}
@media (max-width: 1024px) {
  .sc-scene .img-box.sc-2 {
    width: auto;
  }
}
.sc-scene .img-box.sc-3 {
  width: 35vw;
  height: 22vw;
  grid-column: 1/3;
  grid-row: 1/3;
  justify-self: center;
  align-self: end;
  z-index: 1;
}
.sc-scene .img-box.sc-4 {
  position: relative;
  right: -85px;
  height: 26vw;
  width: 50vw;
  z-index: 1;
  justify-self: end;
  align-self: center;
  grid-row: 2/4;
  grid-column: 2/4;
}
@media (max-width: 1024px) {
  .sc-scene .img-box.sc-4 {
    right: -8vw;
  }
}
.sc-scene .img-box.sc-5 {
  position: relative;
  left: 48px;
  height: 45vw;
  width: 38vw;
  justify-self: start;
  align-self: center;
  grid-column: 1/3;
  grid-row: 3/6;
}
@media (max-width: 1024px) {
  .sc-scene .img-box.sc-5 {
    left: 0;
  }
}
.sc-scene .img-box.sc-6 {
  position: relative;
  left: 48px;
  height: 16vw;
  width: 24vw;
  justify-self: end;
  align-self: center;
  grid-column: 2/4;
  grid-row: 4/5;
}
@media (max-width: 1024px) {
  .sc-scene .img-box.sc-6 {
    left: 0;
  }
}
.sc-scene .img-box.sc-7 {
  position: relative;
  height: 26vw;
  width: 33vw;
  justify-self: center;
  align-self: end;
  grid-column: 2/4;
  grid-row: 4/7;
  z-index: 1;
}
@media (max-width: 1024px) {
  .sc-scene .img-box.sc-7 {
    top: 12vw;
    left: 8vw;
  }
}

.trans-wrap {
  position: relative;
  height: 50vh;
  margin-top: -50vh;
  z-index: 1;
}
@media (max-width: 767px) {
  .trans-wrap {
    height: 45vh;
    margin-top: -45vh;
  }
}
.trans-wrap .trans-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 767px) {
  .trans-wrap .trans-box {
    height: 45vh;
  }
}
.trans-wrap .trans-box .trans {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 0;
  background: #980303;
}

.sc-plot.common-inner {
  padding-top: 300px;
  padding-bottom: 200px;
  background: #980303;
  color: #000;
  -webkit-box-shadow: inset 0 -10px 10px -5px #000;
          box-shadow: inset 0 -10px 10px -5px #000;
}
@media (max-width: 767px) {
  .sc-plot.common-inner {
    padding: 0 7vw 170px;
  }
}
.sc-plot .plot-box {
  position: relative;
  padding-left: 90px;
  font-size: 31px;
}
@media (max-width: 1280px) {
  .sc-plot .plot-box {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .sc-plot .plot-box {
    padding: 0;
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .sc-plot .plot-box {
    font-size: 19px;
  }
}
.sc-plot .plot-box svg {
  position: absolute;
  left: 0;
  top: 12px;
  right: auto;
  bottom: auto;
  width: 48px;
  height: 42px;
  z-index: 10;
}
@media (max-width: 1024px) {
  .sc-plot .plot-box svg {
    top: -45px;
    width: 36px;
    height: 32px;
  }
}
@media (max-width: 767px) {
  .sc-plot .plot-box svg {
    top: -40px;
    width: 32px;
    height: 28px;
  }
}

.sc-highlight {
  height: 600vh;
  padding-right: 0;
  padding-left: 0;
  font-family: "Dahlia Condensed", serif;
}
.sc-highlight .h-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
.sc-highlight .h-sticky .headline {
  position: relative;
  font-size: 15vw;
  white-space: nowrap;
  z-index: 1;
}
@media (max-width: 1024px) {
  .sc-highlight .h-sticky .headline {
    font-size: 17vw;
  }
}
@media (max-width: 767px) {
  .sc-highlight .h-sticky .headline {
    font-size: 19vw;
  }
}
.sc-highlight .h-sticky img {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-highlight .h-sticky .h-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #da0000;
  mix-blend-mode: multiply;
}
@media (max-width: 767px) {
  .sc-highlight .h-sticky .h-overlay {
    display: none;
  }
}

.sc-who {
  position: relative;
}
.sc-who .img-box {
  position: relative;
  overflow: hidden;
  height: 159vh;
}
@media (max-width: 767px) {
  .sc-who .img-box {
    height: 100vh;
  }
}
.sc-who .img-box img {
  position: absolute;
  top: -9%;
  left: 0;
  width: 100%;
  height: 140%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .sc-who .img-box img {
    height: 140%;
  }
}
.sc-who .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 82px;
  top: auto;
  right: 0;
  bottom: 10%;
  font-size: 31px;
}
@media (max-width: 1280px) {
  .sc-who .text-box {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .sc-who .text-box {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .sc-who .text-box {
    font-size: 19px;
    left: 60px;
  }
}

.sc-awards {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #000;
}
@media (max-width: 1024px) {
  .sc-awards {
    padding-top: 100px;
    padding-bottom: 0;
  }
}
.sc-awards .headline {
  margin-top: 0;
  margin-bottom: 96px;
  font-family: "Fjalla One", serif;
  font-size: 160px;
}
@media (max-width: 1280px) {
  .sc-awards .headline {
    font-size: 135px;
  }
}
@media (max-width: 1024px) {
  .sc-awards .headline {
    font-size: 85px;
  }
}
@media (max-width: 767px) {
  .sc-awards .headline {
    font-size: 11.5vw;
    margin-bottom: 40px;
  }
}
.sc-awards .a-grid {
  display: grid;
  grid-template-columns: 33vw 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 96px;
}
@media (max-width: 1280px) {
  .sc-awards .a-grid {
    grid-column-gap: 50px;
  }
}
@media (max-width: 1024px) {
  .sc-awards .a-grid {
    grid-template-columns: 1fr;
    grid-gap: 24px/48px;
  }
}
.sc-awards .a-grid .text-box {
  grid-column: span 1;
  grid-row: span 1;
  justify-self: center;
  align-self: start;
  width: 830px;
  font-size: 31px;
}
@media (max-width: 1280px) {
  .sc-awards .a-grid .text-box {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .sc-awards .a-grid .text-box {
    font-size: 24px;
    justify-self: start;
    width: auto;
  }
}
@media (max-width: 767px) {
  .sc-awards .a-grid .text-box {
    font-size: 19px;
  }
}
.sc-awards .a-grid .img-box {
  overflow: hidden;
  width: 100%;
  height: 40vw;
}
.sc-awards .a-grid .img-box.a-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
@media (max-width: 1280px) {
  .sc-awards .a-grid .img-box.a-1 {
    margin-left: -30px;
  }
}
@media (max-width: 1024px) {
  .sc-awards .a-grid .img-box.a-1 {
    height: 80vw;
    margin: 0;
  }
}
.sc-awards .a-grid .img-box.a-2 {
  justify-self: start;
  align-self: start;
  grid-column: span 1;
  grid-row: span 2;
  width: 46vw;
  height: 50vw;
  margin-left: -140px;
  z-index: 1;
}
@media (max-width: 1280px) {
  .sc-awards .a-grid .img-box.a-2 {
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .sc-awards .a-grid .img-box.a-2 {
    grid-column-start: 1;
    grid-row: 4/6;
  }
}
.sc-awards .a-grid .img-box.a-3 {
  justify-self: start;
  width: 24vw;
  height: 30vw;
}
@media (max-width: 1024px) {
  .sc-awards .a-grid .img-box.a-3 {
    grid-column-start: 1;
    grid-row: 5/7;
    justify-self: end;
    width: 40vw;
    height: 42vw;
    z-index: 1;
  }
}

.sc-cast {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media (max-width: 1024px) {
  .sc-cast {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.sc-cast .headline {
  margin-bottom: 144px;
  font-family: "Fjalla One", serif;
  font-size: 160px;
  text-align: center;
  color: #af0303;
}
@media (max-width: 1280px) {
  .sc-cast .headline {
    font-size: 135px;
  }
}
@media (max-width: 1024px) {
  .sc-cast .headline {
    font-size: 85px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .sc-cast .headline {
    font-size: 11.5vw;
  }
}
.sc-cast .cast-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  grid-gap: 144px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 200px;
}
@media (max-width: 1280px) {
  .sc-cast .cast-grid {
    grid-column-gap: 80px;
  }
}
@media (max-width: 1024px) {
  .sc-cast .cast-grid {
    grid-column-gap: 55px;
  }
}
@media (max-width: 767px) {
  .sc-cast .cast-grid {
    grid-template-columns: 1fr;
    margin-bottom: 96px;
    grid-row-gap: 48px;
    width: auto;
  }
}
.sc-cast .cast-grid .cast-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 16px;
}
.sc-cast .cast-grid .cast-wrap .img-box {
  overflow: hidden;
  height: 630px;
}
@media (max-width: 1024px) {
  .sc-cast .cast-grid .cast-wrap .img-box {
    height: 45vw;
  }
}
@media (max-width: 767px) {
  .sc-cast .cast-grid .cast-wrap .img-box {
    height: 80vw;
  }
}
.sc-cast .cast-grid .cast-wrap .cast-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sc-cast .cast-grid .cast-wrap.c-1 {
  grid-column: span 1;
  grid-row: span 1;
  align-self: center;
}
.sc-cast .cast-grid .cast-wrap.c-2 {
  grid-column: span 1;
  grid-row: span 2;
  align-self: center;
}
.sc-cast .cast-grid .cast-wrap.c-3 {
  grid-column: span 1;
  grid-row: span 2;
  align-self: center;
}
.sc-cast .cast-grid .cast-wrap.c-4 {
  grid-column: span 1;
  grid-row: span 2;
  align-self: center;
}
.sc-cast .cast-grid .cast-wrap.c-5 {
  grid-column: span 1;
  grid-row: span 2;
  align-self: center;
}
.sc-cast .cast-grid .cast-wrap.c-6 {
  grid-column: span 1;
  grid-row: span 2;
  align-self: center;
}
.sc-cast .cast-grid .cast-wrap.c-7 {
  grid-column: span 1;
  grid-row: span 2;
  align-self: center;
}
.sc-cast .cast-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  margin: 0 auto;
  grid-row-gap: 56px;
}
@media (max-width: 1024px) {
  .sc-cast .cast-flex {
    width: auto;
    grid-row-gap: 24px;
  }
}
.sc-cast .cast-flex .title {
  color: #f14c00;
  font-size: 40px;
}
@media (max-width: 1024px) {
  .sc-cast .cast-flex .title {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .sc-cast .cast-flex .title {
    font-size: 6vw;
  }
}
.sc-cast .cast-flex .cast-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 32px 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .sc-cast .cast-flex .cast-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-row-gap: 12px;
  }
}
.sc-cast .cast-flex .cast-wrap .cast-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-column-gap: 16px;
}
@media (max-width: 767px) {
  .sc-cast .cast-flex .cast-wrap .cast-box .cast-name {
    font-size: 30px;
  }
}
.sc-cast .cast-flex .cast-wrap .cast-box .cast-role {
  margin-top: 0;
  margin-bottom: 11px;
}
@media (max-width: 767px) {
  .sc-cast .cast-flex .cast-wrap .cast-box .cast-role {
    margin-bottom: 6px;
  }
}

.sc-info {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media (max-width: 1024px) {
  .sc-info {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.sc-info .info-area1 .title {
  font-family: "Fjalla One", serif;
  font-size: 100px;
}
@media (max-width: 1024px) {
  .sc-info .info-area1 .title {
    font-size: 85px;
  }
}
@media (max-width: 767px) {
  .sc-info .info-area1 .title {
    font-size: 11.5vw;
  }
}
.sc-info .info-area1 p.desc {
  font-size: 20px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .sc-info .info-area1 p.desc {
    font-size: 16px;
  }
}
.sc-info .info-grid {
  display: grid;
  margin-top: 48px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 1fr;
}
@media (max-width: 1280px) {
  .sc-info .info-grid {
    grid-template-columns: 1fr auto;
  }
}
@media (max-width: 1024px) {
  .sc-info .info-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
  }
}
.sc-info .info-grid .img-box {
  grid-column: span 1;
  grid-row: span 1;
  overflow: hidden;
  width: 100%;
  height: 40vw;
}
@media (max-width: 1024px) {
  .sc-info .info-grid .img-box {
    height: 80vw;
  }
}
.sc-info .info-grid .info-area2 {
  grid-column: span 1;
  grid-row: span 1;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 90px;
}
@media (max-width: 1280px) {
  .sc-info .info-grid .info-area2 {
    padding: 0 70px;
  }
}
@media (max-width: 1024px) {
  .sc-info .info-grid .info-area2 {
    padding: 50px 0 50px;
    grid-gap: 18px;
  }
}
@media (max-width: 767px) {
  .sc-info .info-grid .info-area2 {
    grid-gap: 15px;
  }
}
.sc-info .info-grid .info-area2 .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-info .info-grid .info-area2 .info-box .desc {
  font-size: 20px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .sc-info .info-grid .info-area2 .info-box .desc {
    font-size: 16px;
  }
}
.sc-info .info-grid .info-area2 .info-box strong.desc {
  font-family: "Fjalla One", serif;
  font-weight: 600;
  font-size: 55px;
}
@media (max-width: 1024px) {
  .sc-info .info-grid .info-area2 .info-box strong.desc {
    font-size: 60px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .sc-info .info-grid .info-area2 .info-box strong.desc {
    font-size: 6.8vw;
  }
}

.sc-collage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-collage .headline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vh;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 20px;
  padding-bottom: 15vh;
  padding-left: 20px;
  font-family: "Kaushan Script", serif;
  z-index: 1;
}
@media (max-width: 1024px) {
  .sc-collage .headline .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.sc-collage .headline .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1024px) {
  .sc-collage .headline .right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: -6vh;
    left: 0;
  }
}
@media (max-width: 767px) {
  .sc-collage .headline .right {
    top: -4vh;
  }
}
.sc-collage .headline .desc {
  position: relative;
  font-size: 20vh;
  opacity: 0;
}
@media (max-width: 1024px) {
  .sc-collage .headline .desc {
    font-size: 16.5vh;
  }
}
@media (max-width: 767px) {
  .sc-collage .headline .desc {
    font-size: 15vw;
  }
}
.sc-collage .col-grid {
  position: absolute;
  display: grid;
  top: -33vh;
  width: 320vh;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-gap: 3vh;
  grid-template-columns: repeat(6, 1fr);
}
.sc-collage .col-grid .img-box {
  overflow: hidden;
  width: 100%;
  height: 55vh;
}
.sc-collage .col-grid .img-box.col-1 {
  grid-column: 2/4;
  grid-row: 1/2;
}
.sc-collage .col-grid .img-box.col-2 {
  grid-column: 4/6;
  grid-row: 1/2;
}
.sc-collage .col-grid .img-box.col-3 {
  grid-column: span 2;
  grid-row: span 1;
}
.sc-collage .col-grid .img-box.col-4 {
  grid-column: span 2;
  grid-row: span 1;
}
.sc-collage .col-grid .img-box.col-5 {
  grid-column: span 2;
  grid-row: span 1;
}
.sc-collage .col-grid .img-box.col-6 {
  grid-column: 2/4;
  grid-row: 3/4;
}
.sc-collage .col-grid .img-box.col-7 {
  grid-column: span 2;
  grid-row: span 1;
}
.sc-collage .link-go {
  position: absolute;
  bottom: 39%;
  left: 31%;
  z-index: 1;
}
@media (max-width: 1280px) {
  .sc-collage .link-go {
    left: 28%;
    bottom: 37%;
  }
}
@media (max-width: 1024px) {
  .sc-collage .link-go {
    left: 22%;
  }
}
@media (max-width: 1024px) {
  .sc-collage .link-go {
    left: 50%;
    bottom: 30%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}